
  
  header {
    font-family: "Montserrat", sans-serif;
    background-image: url("./Worker.jpg");
    height: 700px;
    width: 100%;
    padding-top: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .header-main-text h1 {
    font-weight: 300;
    font-size: 38px;
    line-height: 1.5;
    text-align: center;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 20px;
  }
  .header-main-text p {
    font-size: 20px;
    text-align: center;
  }
 