.login-window {
  font-family: "Montserrat", sans-serif;
  height: 100%;
  margin-top: 60px;
  padding-top: 50px;
  background-color: #f9fafb;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.login-window h2 {
  margin-top: 20px;
  width: 80%;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 20px;
}
.login-form {
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2em;
  border: 1px solid #dce0e6;
  width: 70%;
  border-radius: 10px;
  margin-bottom: 40px;
}
.login-form label {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 10px;
  color: #545e69;
}
.login-form h6 {
  display: flex;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 20px;
  padding-bottom: 35px;
}
.login-name-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 10px 0;
}
.login-image-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
}
.login-image-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.login-image-container h5 {
  font-size: 20px;
  font-weight: 300;
}
.login-image-container img {
  width: 70px;
  border-radius: 50%;
}
.login-name-container h4 {
  font-size: 30px;
  font-weight: 600;
}
.login-name-container h3 {
  font-size: 30px;
  font-weight: 200;
}

.login-buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-submit-button {
  background-color: #00235e;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  margin: 20px;
}

.login-submit-button :hover {
  background-color: #f28f00;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 40px;
  font-size: 20px;
  border-radius: 5px;
  margin: 20px;
}

.login-form p {
  margin: 10px;
}
.login-form a {
  text-decoration: none;
  color: #00235e;
  padding: 10px;
}
